<a id="guider_step_eight" class="guider_step_eight"></a>
<div class="component_tips" style="visibility: hidden; top: -999px;"><i class="icon"></i>
    <div class="msg"></div>
</div>
<div class="component_tips" style="visibility: hidden; top: -999px;"><i class="icon"></i>
    <div class="msg"></div>
</div>
<div class="component_tips" style="visibility: hidden; top: -999px;"><i class="icon"></i>
    <div class="msg"></div>
</div>
<div class="dialog_wrap dia_setting" style="display: none;">
    <div class="dialog" growing-ignore="true">
        <div class="dia_tit">
            <div><b set-lan="html:settings"></b> <span class="close dia_close"> <i class="hb_icon_close"></i> </span>
            </div>
            <p data="dia_title" class="dia_tit_more"></p></div>
        <div class="dia_content">
            <div class="dia_input">
                <div class="input_top"> <b set-lan="html:h_currency"></b> </div>
                <div class="input_middle">
                    <div id="exchange_rate_select" class="exchange_rate_select">
                        <div class="input_select size_full " tabindex="0">
                            <div class="select_label">
                                <input type="text" name="exchange" data-datatype="*" data-msg-null="null" data-msg-error="error" disabled="disabled">
                                <span class="select_output" data-output="output">$ USD</span>
                            </div>
                            <div class="select_option" style="display: none;">
                                <p class=""
                                   data-option="{&quot;key&quot;:&quot; NONE&quot;,&quot;value&quot;:&quot;none&quot;,&quot;info&quot;:&quot;&quot;}"
                                   data-option-type=""><span class="key"> NONE</span><span class="info"></span></p>
                                <p class=""
                                   data-option="{&quot;key&quot;:&quot;$ USD&quot;,&quot;value&quot;:&quot;usd&quot;,&quot;info&quot;:&quot;&quot;}"
                                   data-option-type=""><span class="key">$ USD</span> <span class="info"></span></p>

                                <p class=""
                                   data-option="{&quot;key&quot;:&quot;¥ CNY&quot;,&quot;value&quot;:&quot;cny&quot;,&quot;info&quot;:&quot;&quot;}"
                                   data-option-type=""><span class="key">¥ CNY</span> <span class="info"></span></p>

                                <p class=""
                                   data-option="{&quot;key&quot;:&quot;₩ KRW&quot;,&quot;value&quot;:&quot;krw&quot;,&quot;info&quot;:&quot;&quot;}"
                                   data-option-type=""><span class="key">₩ KRW</span> <span class="info"></span></p>

                                <p class=""
                                   data-option="{&quot;key&quot;:&quot;£ GBP&quot;,&quot;value&quot;:&quot;gbp&quot;,&quot;info&quot;:&quot;&quot;}"
                                   data-option-type=""><span class="key">£ GBP</span> <span class="info"></span></p>

                                <p class=""
                                   data-option="{&quot;key&quot;:&quot;€ EUR&quot;,&quot;value&quot;:&quot;eur&quot;,&quot;info&quot;:&quot;&quot;}"
                                   data-option-type=""><span class="key">€ EUR</span> <span class="info"></span></p>

                                <p class=""
                                   data-option="{&quot;key&quot;:&quot;₽ RUB&quot;,&quot;value&quot;:&quot;rub&quot;,&quot;info&quot;:&quot;&quot;}"
                                   data-option-type=""><span class="key">₽ RUB</span> <span class="info"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dia_input">
                <div class="input_top"> <b set-lan="html:h_theme"></b> </div>
                <div class="input_middle">
                    <label> <input type="radio" name="theme" value="hb-night"><span set-lan="html:dark"></span> </label>
                    <label> <input type="radio" name="theme" value="hb-day"><span set-lan="html:light"></span> </label>
                </div>
            </div>
        </div>
        <div class="dia_submit"><span class="error_notice"></span>
            <button class="btn btn_submit btn-primary" pro_name="btn_submit" data-ee="btn_submit" set-lan="html:confirm"> </button>
        </div>
    </div>
    <div class="dialog_extra"></div>
</div>
<div class="dialog_wrap usip" style="display: none;">
    <div class="dialog" growing-ignore="true" style="width: 560px;">
        <div class="dia_tit">
            <div><b>Note</b> <span class="close dia_close"> <i class="hb_icon_close"></i> </span></div>
            <p data="dia_title" class="dia_tit_more"></p></div>
        <div class="dia_content"><p class="usipcall">Dear users,</p>

            <div class="usipcontent usipHbus">Huobi Global is not available for U.S. users.Fortunately, you can now
                trade on HBUS, our US Strategic Partner.<br>And enjoy fees as low as 0.1% all month long.
            </div>
            <div class="usipbtns hbusbtns">
                <button class="btn btn-cancel usipbtns-btn no-bg hbus-cancel">Cancel</button>
                <a href="https://www.hbus.com/?landing_page=293763475&amp;utm_source=HuobiGlobal&amp;utm_medium=Promotion&amp;utm_campaign=Note"
                   target="_blank" class="btn btn-primary usipbtns-btn">Trade now</a></div>
        </div>
        <div class="dia_submit" style="display: none;"><span class="error_notice"></span></div>
    </div>
    <div class="dialog_extra"></div>
</div>
<div class="dialog_wrap jpregrisk" style="display: none;">
    <div class="dialog" growing-ignore="true" style="width: 560px;">
        <div class="dia_tit">
            <div><b>Confirm / 確認</b> <span class="close dia_close" style="display: none;"> <i
                    class="hb_icon_close"></i> </span></div>
            <p data="dia_title" class="dia_tit_more"></p></div>
        <div class="dia_content">
            <div class="jpregriskcontent"><p>Huobi is not a registered virtual currency exchange under the Payment
                Services Act of Japan. Hence, we could not provide services to the residents of Japan.</p>

                <p>当社は、日本の資金決済法に基づく仮想通貨交換業者ではありません。このため、日本居住者へのサービスはご提供できません。</p></div>
            <div class="jpreg-agree">
                <div class="jpreg-checkbox"></div>
                <div class="jpreg-desc">I am not a resident of Japan. 私は日本の居住者ではありません。</div>
            </div>
            <div class="jpregriskbtns">
                <button class="btn btn-primary jpregriskbtns-btn disabled">Confirm / 確認</button>
            </div>
        </div>
        <div class="dia_submit" style="display: none;"><span class="error_notice"></span></div>
    </div>
    <div class="dialog_extra"></div>
</div>
<div class="component_tips" style="visibility: hidden; top: -999px;"><i class="icon"></i>

    <div class="msg"></div>
</div>
<div class="dialog_wrap dia_order_confirm" style="display: none;">
    <div class="dialog" growing-ignore="true">
        <div class="dia_tit">
            <div><b>BUY</b> <span class="close dia_close"> <i class="hb_icon_close"></i> </span></div>
            <p data="dia_title" class="dia_tit_more"></p></div>
        <div class="dia_content">
            <div class="dia_input">
                <div class="input_top"><b> Price </b></div>
                <div class="input_middle"></div>
            </div>
            <div class="dia_input">
                <div class="input_top"><b> </b></div>
                <div class="input_middle"></div>
            </div>
            <div class="dia_input">
                <div class="input_top"><b> Total </b></div>
                <div class="input_middle upper">
                    <div class="input_total upper"></div>
                </div>
            </div>
        </div>
        <div class="dia_submit"><span class="error_notice"></span>
            <button class="btn_cancel" pro_name="btn_cancel" data-ee="btn_cancel"> Cancel</button>
            <button class="btn btn_submit btn-primary" pro_name="btn_submit" data-ee="btn_submit"> Confirm</button>
        </div>
    </div>
    <div class="dialog_extra"></div>
</div>
<div class="component_tips" style="visibility: hidden; top: -999px;"><i class="icon"></i>

    <div class="msg"></div>
</div>