<div class="layout_foot doc_foot">
    <div class="doc_foot_wrap">
        <dl>
            <dt><img src="/Web/image/logo.aeb4723.svg" alt="Huobi Global"></dt>
            <dd><p set-lan="html:footer_p"></p></dd>
            <dd class="icons">
                <div class="icons_line">
                    <a href="https://www.facebook.com/huobiglobalofficial" rel="noopener noreferrer" target="_blank"><i class="hb_icon_facebook"></i> </a>
                    <a href="https://twitter.com/HuobiGlobal" rel="noopener noreferrer" target="_blank"><i class="hb_icon_twitter"></i> </a>
                    <a href="https://www.youtube.com/HuobiGlobal" rel="noopener noreferrer" target="_blank"><i class="hb_icon_youtube"></i> </a>
                    <a href="https://t.me/huobiglobalofficial" rel="noopener noreferrer" target="_blank"><i class="hb_icon_telegram"></i> </a>
                    <a href="https://medium.com/@huobiglobal" rel="noopener noreferrer" target="_blank"><i class="hb_icon_medium"></i> </a>
                    <a href="https://www.instagram.com/huobiglobalofficial" rel="noopener noreferrer" target="_blank"><i class="hb_icon_instagram"></i> </a>
                    <a href="javascript:void(0);" class="has_qr"><i class="hb_icon_wechat"></i><div class="qr_wechat"></div></a>
                    <a href="https://weibo.com/p/1006063495498135/home?from=page_100606&amp;mod=TAB&amp;is_all=1#place"
                       rel="noopener noreferrer" target="_blank"><i class="hb_icon_weibo"></i></a>
                </div>
            </dd>
            <dd class="copyright">© 2013-2018 Huobi Global</dd>
        </dl>
        <dl>
            <dt>
            <h2 set-lan="html:footer_h2_I"></h2></dt>
            <dd class="consult"><a set-lan="html:footer_I_d1" href="https://info.huobi.cn" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_I_d2" href="https://www.huobipool.com/#!/community?lang=en-us" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_I_d3" href="https://eco.hbg.com/" rel="noopener noreferrer" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_I_d4" href="/capital/" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_I_d5" href="/institution/" target="_blank"></a></dd>
        </dl>
        <dl>
            <dt>
            <h2 set-lan="html:footer_h2_II"></h2></dt>
            <dd><a set-lan="html:footer_II_d1" href="https://huobiglobal.zendesk.com/hc/en-us/articles/360002257551" rel="noopener noreferrer"
                   target="_blank"></a></dd>
            <dd><a set-lan="html:footer_II_d2" class="en-us_show" href="https://huobiglobal.zendesk.com/hc/en-us"
                   rel="noopener noreferrer" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_II_d3" href="https://github.com/huobiapi/API_Docs_en/wiki" rel="noopener noreferrer" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_II_d4" href="/assetintro/" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_II_d5" class="login_show" href="/#guider_step=1" target="_blank"></a></dd>
        </dl>
        <dl>
            <dt>
            <h2 set-lan="html:footer_h2_III"></h2></dt>
            <dd><a set-lan="html:footer_III_d1" href="https://www.huobigroup.com/en-us/" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_III_d2" href="https://huobiglobal.zendesk.com/hc/en-us/requests/new" rel="noopener noreferrer"
                   target="_blank"></a></dd>
            <dd><a set-lan="html:footer_III_d3" href="https://www.huobigroup.com/en-us/jobs/" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_III_d4" href="/application-center/" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_III_d5" href="https://huobiglobal.zendesk.com/hc/en-us/categories/360000031902" rel="noopener noreferrer"
                   target="_blank"></a></dd>
        </dl>
        <dl>
            <dt>
            <h2 set-lan="html:footer_h2_IV"></h2></dt>
            <dd><a set-lan="html:footer_IV_d1" href="/about/agreement/" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_IV_d2" href="/about/privacy/" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_IV_d3" href="/about/law/" target="_blank"></a></dd>
            <dd><a set-lan="html:footer_IV_d4" href="/about/fee/" target="_blank"></a></dd>
        </dl>
    </div>
</div>