<div class="doc_head">
    <h1 class="head_logo"><a href="/web/index/index"><img src="/Web/image/logo.aeb4723.svg" alt="Huobi Global"></a></h1>
    <ul class="head_nav" id="head_nav">
        <li><a href="/web/index/markets/" set-lan="html:head_nav1"></a></li>
        <li><a href="/web/index/buy/" set-lan="html:head_nav2"></a></li>
        <li><a href="/web/index/exchange/" set-lan="html:head_nav3"></a></li>
        <li><a href="/web/index/margin/" set-lan="html:head_nav4"></a></li>
        <li class="head-padding"></li>
        <li class="login_hide"><a href="/web/index/login/" data-action="go_login" data-ee="loginElem" set-lan="html:login_elem"></a></li>
        <li class="split"></li>
        <li class="login_hide"><a href="/web/index/register/" data-action="go_register" set-lan="html:register_elem"></a></li>
        <li class="split"></li>
        <li class="mobile_show_item theme_btn">
            <button class="change_theme"><i class="hb_icon_setting"></i></button>
        </li>
        <li class="mobile_show_item lang_btn">
            <dl class="select_lang">
                <dt id="show_lang"></dt>
                <dd id="show_lang_list">
                </dd>
            </dl>
        </li>
    </ul>
</div>