<div class="layui-footer footer footer-doc">
    <p>© 2018 <a href="/">layui.com</a> MIT license</p>
    <p>
        <a href="http://fly.layui.com/case/2018/" target="_blank">案例</a>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">支持</a>
        <a href="https://github.com/sentsin/layui/" target="_blank" rel="nofollow">GitHub</a>
        <a href="https://gitee.com/sentsin/layui" target="_blank" rel="nofollow">码云</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">公众号</a>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">赣ICP备13006272号-2</a>
    </p>
</div>