<!-- BEGIN VENDOR JS-->
<script src="/Team/scripts/vendors.min.js" type="text/javascript"></script>
<script src="/Team/scripts/loadpage.js" type="text/javascript"></script>
<script src="/Team/vendor/forms/toggle/switchery.min.js" type="text/javascript"></script>
<script src="/Team/vendor/forms/switch.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="/Team/vendor/charts/chartist.min.js" type="text/javascript"></script>
<script src="/Team/vendor/charts/chartist-plugin-tooltip.min.js" type="text/javascript"></script>
<script src="/Team/vendor/timeline/horizontal-timeline.js" type="text/javascript"></script>
<script src="/Team/vendor/file-uploaders/dropzone.min.js" type="text/javascript"></script>
<script src="/Team/vendor/forms/icheck/icheck.min.js" type="text/javascript"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN CHAMELEON  JS-->
<script src="/Team/scripts/app-menu.min.js" type="text/javascript"></script>
<script src="/Team/scripts/app.min.js" type="text/javascript"></script>
<script src="/Team/scripts/customizer.min.js" type="text/javascript"></script>
<script src="/Team/vendor/jquery/jquery.sharrre.js" type="text/javascript"></script>
<!-- END CHAMELEON  JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="/Team/vendor/pages/dashboard-ecommerce.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->
</body>
</html>