<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=keyword content=区块链开发公司,区块链技术开发,IM-unicorn,区块链技术开发公司,智能合约开发,区块链钱包开发,区块链交易所开发>
    <meta name=description content=IM独角兽区块链开发公司是狂热的链圈技术从业者、是创新的区块链技术解决方案商和商业应用落地孵化器，为您提供区块链一站式项目孵化、开发、上线、推广、发行、投资等服务。>
    <title>IM-unicorn|区块链技术开发公司|智能合约开发|区块链钱包开发|区块链交易所开发</title>
    <link rel=icon href=/Website/favicon.ico type=image/x-icon>
    <script type=text/javascript>
        var PC = IsPC();
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }
    </script>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.js></script>

    <script>
        if (PC) {
            document.write('<link rel="stylesheet" type="text/css" media="screen" href="/Website/pc/css/app.5bb7b985d21e30e5d2d61afe9fd4da89.css?t=1537928524668">');

        }else{
            document.write('<link rel="stylesheet" type="text/css" href="/Website/mob/css/app.9fecbb09c91e2606af67b8e0eb1ae2cd.css">');
        }
    </script>

</head>
<body>
<div id=app></div>
</body>
<script type=text/javascript>var href = 'http://inziqi.com'</script>
<script>
    if (PC) {
        document.write('<script src="/Website/pc/js/manifest.bfd5459f2f4c1f1a5906.js"><\/script>');
        document.write('<script src="/Website/pc/js/vendor.506493a3dd209f9056eb.js"><\/script>');
        document.write('<script src="/Website/pc/js/app.ba3814883a98a8f879d1.js"><\/script>');
        document.write('<script src="/Website/pc/lib/three.min.js"><\/script>');
        document.write('<script src="/Website/pc/lib/perlin.js"><\/script>');
        document.write('<script src="/Website/pc/lib/TweenMax.min.js"><\/script>');
    }else{
        document.write('<script src="/Website/mob/js/manifest.99b07193301ba5c0e295.js"><\/script>');
        document.write('<script src="/Website/mob/js/vendor.4e24e15ad9eaf499b498.js"><\/script>');
        document.write('<script src="/Website/mob/js/app.52d1a5bbcee39298f98d.js"><\/script>');
    }
</script>

</html>
