<div class="customizer border-left-blue-grey border-left-lighten-4 d-none d-xl-block">
    <a class="customizer-close" href="javascript:void(0);">
        <i class="ft-x font-medium-3"></i>
    </a>
    <a class="customizer-toggle bg-default box-shadow-3" href="javascript:void(0);" id="customizer-toggle-setting">
        <i class="ft-settings font-medium-3 spinner white"></i>
    </a>

    <div class="customizer-content p-2">
        <h5 class="mt-1 mb-1 text-bold-500">导航栏颜色选项</h5>
        <div class="navbar-color-options clearfix">
            <div class="gradient-colors mb-1 clearfix">
                <div class="bg-gradient-x-purple-blue navbar-color-option" data-bg="bg-gradient-x-purple-blue"
                     title="bg-gradient-x-purple-blue"></div>
                <div class="bg-gradient-x-purple-red navbar-color-option" data-bg="bg-gradient-x-purple-red"
                     title="bg-gradient-x-purple-red"></div>
                <div class="bg-gradient-x-blue-green navbar-color-option" data-bg="bg-gradient-x-blue-green"
                     title="bg-gradient-x-blue-green"></div>
                <div class="bg-gradient-x-orange-yellow navbar-color-option" data-bg="bg-gradient-x-orange-yellow"
                     title="bg-gradient-x-orange-yellow"></div>
                <div class="bg-gradient-x-blue-cyan navbar-color-option" data-bg="bg-gradient-x-blue-cyan"
                     title="bg-gradient-x-blue-cyan"></div>
                <div class="bg-gradient-x-red-pink navbar-color-option" data-bg="bg-gradient-x-red-pink"
                     title="bg-gradient-x-red-pink"></div>
            </div>
            <div class="solid-colors clearfix">
                <div class="bg-default navbar-color-option" data-bg="bg-default" title="primary"></div>
                <div class="bg-success navbar-color-option" data-bg="bg-success" title="success"></div>
                <div class="bg-info navbar-color-option" data-bg="bg-info" title="info"></div>
                <div class="bg-warning navbar-color-option" data-bg="bg-warning" title="warning"></div>
                <div class="bg-danger navbar-color-option" data-bg="bg-danger" title="danger"></div>
                <div class="bg-blue navbar-color-option" data-bg="bg-blue" title="blue"></div>
            </div>
        </div>
        <hr>
        <h5 class="my-1 text-bold-500">布局选项</h5>
        <div class="row">
            <div class="col-12">
                <div class="d-inline-block custom-control custom-radio mb-1 col-4">
                    <input type="radio" class="custom-control-input bg-default" name="layouts" id="fixed-layout">
                    <label class="custom-control-label" for="fixed-layout">固定</label>
                </div>
                <div class="d-inline-block custom-control custom-radio mb-1 col-4">
                    <input type="radio" class="custom-control-input bg-default" name="layouts" id="static-layout">
                    <label class="custom-control-label" for="static-layout">静态的</label>
                </div>
                <div class="d-inline-block custom-control custom-radio mb-1">
                    <input type="radio" class="custom-control-input bg-default" name="layouts" id="boxed-layout">
                    <label class="custom-control-label" for="boxed-layout">盒装</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-inline-block custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input bg-default" name="right-side-icons"
                           id="right-side-icons">
                    <label class="custom-control-label" for="right-side-icons">右侧图标</label>
                </div>
            </div>
        </div>
        <hr>
        <h5 class="mt-1 mb-1 text-bold-500">侧边栏菜单背景</h5>
        <div class="row sidebar-color-options ml-1">
            <label for="sidebar-color-option" class="card-title font-medium-2 mr-2">白天模式</label>

            <div class="text-center mb-1">
                <input type="checkbox" id="sidebar-color-option" class="switchery" data-size="xs"/>
            </div>
            <label for="sidebar-color-option" class="card-title font-medium-2 ml-2">夜晚模式</label>
        </div>
        <hr>
        <label for="collapsed-sidebar" class="font-medium-2">菜单折叠</label>
        <div class="float-right">
            <input type="checkbox" id="collapsed-sidebar" class="switchery" data-size="xs"/>
        </div>
        <hr>
        <h5 class="mt-1 mb-1 text-bold-500">菜单模板选项</h5>
        <div class="row">
            <div class="col mb-12">
                {if condition=" $Think.session.theme == 'theme1' " }
                <img src="/Team/images/menu/01.png" class="rounded menu-bg selected"width="100%" alt="theme1" title="垂直-经典菜单">
                {else/}
                <img src="/Team/images/menu/01.png" class="rounded menu-bg"width="100%" alt="theme1" title="垂直-经典菜单">
                {/if}
            </div>
            <div class="col mb-12">
                {if condition=" $Think.session.theme == 'theme2' " }
                <img src="/Team/images/menu/02.png" class="rounded menu-bg selected" width="100%" alt="theme2" title="垂直-现代菜单">
                {else/}
                <img src="/Team/images/menu/02.png" class="rounded menu-bg" width="100%" alt="theme2" title="垂直-现代菜单">
                {/if}
            </div>
            <div class="col mb-12">
                {if condition=" $Think.session.theme == 'theme3' " }
                <img src="/Team/images/menu/03.png" class="rounded menu-bg selected" width="100%" alt="theme3" title="横向-全屏菜单">
                {else/}
                <img src="/Team/images/menu/03.png" class="rounded menu-bg" width="100%" alt="theme3" title="横向-全屏菜单">
                {/if}

            </div>

        </div>
        <hr>
        <!--Sidebar Background Image Starts-->
        <h5 class="mt-1 mb-1 text-bold-500">边栏背景图像</h5>
        <div class="cz-bg-image row">
            <div class="col mb-3">
                <img src="/Team/images/backgrounds/01.jpg" class="rounded sidiebar-bg-img" width="50" height="100"
                     alt="background image">
            </div>
            <div class="col mb-3">
                <img src="/Team/images/backgrounds/02.jpg" class="rounded sidiebar-bg-img" width="50" height="100"
                     alt="background image">
            </div>
            <div class="col mb-3">
                <img src="/Team/images/backgrounds/03.jpg" class="rounded sidiebar-bg-img selected" width="50" height="100"
                     alt="background image">
            </div>
            <div class="col mb-3">
                <img src="/Team/images/backgrounds/04.jpg" class="rounded sidiebar-bg-img" width="50" height="100"
                     alt="background image">
            </div>
        </div>
        <!--Sidebar Background Image Ends-->

        <!--Sidebar BG Image Toggle Starts-->
        <div class="sidebar-image-visibility">
            <div class="row ml-1">
                <label for="toggle-sidebar-bg-img" class="card-title font-medium-2 mr-2">隐藏图片</label>

                <div class="text-center mb-1">
                    <input type="checkbox" id="toggle-sidebar-bg-img" class="switchery" data-size="xs" checked/>
                </div>
                <label for="toggle-sidebar-bg-img" class="card-title font-medium-2 ml-2">显示图片</label>
            </div>
        </div>
        <!--Sidebar BG Image Toggle Ends-->
        <hr>
        <div class="row mb-2">
            <div class="col">
                <a href="javascript:void(0);" class="btn btn-default btn-block box-shadow-1" target="_blank">更多主题</a>
            </div>
        </div>
        <div class="text-center">
            <button id="twitter" class="btn btn-social-icon btn-twitter sharrre mr-1"><i class="la la-twitter"></i>
            </button>
            <button id="facebook" class="btn btn-social-icon btn-facebook sharrre mr-1"><i class="la la-facebook"></i>
            </button>
            <button id="google" class="btn btn-social-icon btn-google sharrre"><i class="la la-google"></i></button>
        </div>
    </div>
</div>
