<!doctype html>
<html lang="en" page-name="user_center">
<head>
    <meta charset="utf-8">
    <title set-lan="html:title"></title>
    <meta name="keywords" content="buy,BTC">
    <meta name="description" content="The buy BTC page, on the Huobi OTC platform, where thousands of Huobi authorized  BTC buying merchants settle. The merchants offer extremely fast transaction time, no service fee and support mutiple payment methods including bank card, Alipay and Wechatpay. Huobi OTC offers outstanding BTC trading platform for its clients.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="”renderer”" content="”webkit”">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/Web/styles/font.css">
    <link rel="stylesheet" type="text/css" href="/Web/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/Web/styles/app.css">
    <script type="text/javascript" src="/Web/script/loadpage.js"></script>
</head>
<body>
<div data-v-d20f0338="" id="app" class="fillWidth">
    <div data-v-d20f0338="" class="left fillWidth">
        {include file="/common/header" /}
        <div data-v-ae74f476="" class="user-container"
             style="box-sizing: border-box; min-height: 341px;background-color: #fff;">
            <div class="ivu-row-flex ivu-row-flex-center">
                <div class="user ivu-col ivu-col-span-xs-24 ivu-col-span-md-20 ivu-col-span-lg-12">
                    <div class="user-left">
                        <div class="avatar-box">
                            <div class="avatar-container large zero"><em class="name">H</em> </div>
                            <div class="avatar-desc"><span></span>
                                <p>UID：55806072</p></div>
                        </div>
                        <div class="trade-times"><p><label set-lan="html:trades"></label> <span>0</span> <span set-lan="html:times"></span></p>

                            <p><label set-lan="html:trades_in30days"></label> <span>0</span> <span set-lan="html:times"></span></p>

                            <p><label set-lan="html:avg_release"></label> <span>0.00</span> <span set-lan="html:min"></span></p>

                            <p><label set-lan="html:day30_completion_rate"></label> <span>0</span><span>%</span></p></div>
                        <div class="font-gray">
                            <span>Account created at 2018-11-02 13:38:02  , No record of transactions</span></div>
                    </div>
                    <div class="user-right">
                        <div class="user-info-container">
                            <div class="user-item">
                                <div class="title">
                                    <h5 set-lan="html:account_and_security"></h5>
                                    <p><label set-lan="html:security_level"></label><span class="small" set-lan="html:low"></span> </p>
                                </div>
                                <div class="info-container">
                                    <div class="user-info-list">
                                        <p class="list-label"><i class="iconfont  icon-email"></i> <span class="desc-name" set-lan="html:email"></span></p>
                                        <div class="info-wrapper">
                                            <p class="list-desc">
                                                <span class="desc-name m-desc-name" set-lan="html:email"></span>
                                                <span class="auth-info m-auth-info" style="color: rgb(153, 153, 153);" set-lan="html:unbound"></span>
                                                <a class="isActive m-button" set-lan="html:bind" onclick="show_bind_email();"></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="user-info-list">
                                        <p class="list-label"><i class="iconfont  icon-phone"></i> <span class="desc-name" set-lan="html:phone"></span></p>
                                        <div class="info-wrapper">
                                            <p class="list-desc">
                                                <span class="desc-name m-desc-name" set-lan="html:phone"></span>
                                                <span class="auth-info m-auth-info" style="" set-lan="html:bound"></span>
                                                <a class="isActive m-button" set-lan="html:close" onclick="show_modify_phone();"></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="user-info-list">
                                        <p class="list-label"><i class="iconfont  icon-GA"></i><span class="desc-name" set-lan="html:google_auth"></span></p>
                                        <div class="info-wrapper">
                                            <p class="list-desc">
                                                <span class="desc-name m-desc-name" set-lan="html:google_auth"></span>
                                                <span class="auth-info m-auth-info" style="color: rgb(153, 153, 153);" set-lan="html:unbound"></span>
                                                <a target="_blank" rel="noopener noreferrer" href="" class="isActive m-button" set-lan="html:bind"></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="user-info-list">
                                        <p class="list-label"><i class="iconfont  icon-login_password"></i> <span class="desc-name" set-lan="html:password"></span></p>
                                        <div class="info-wrapper">
                                            <p class="list-desc">
                                                <span class="desc-name m-desc-name" set-lan="html:password"></span>
                                                <span class="auth-info m-auth-info" set-lan="html:encryption"></span>
                                                <a class="isActive m-button" set-lan="html:modify" onclick="show_modify_login_pass();"></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="user-info-list">
                                        <p class="list-label"><i class="iconfont  icon-password-lock"></i> <span class="desc-name" set-lan="html:trade_pass"></span></p>
                                        <div class="info-wrapper last-list">
                                            <p class="list-desc">
                                                <span class="desc-name m-desc-name" set-lan="html:trade_pass"></span>
                                                <span class="auth-info m-auth-info" style="color: rgb(153, 153, 153);" set-lan="html:unset"></span>
                                                <a class="isActive m-button" set-lan="html:set" onclick="show_set_trade_pass();"></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="user-item other-item">
                                <div class="title payway">
                                    <h5 set-lan="html:ID_verify"></h5>
                                    <h3 class="remark" set-lan="html:ID_remark"></h3>
                                </div>
                                <div class="info-container">
                                    <div class="user-info-list">
                                        <p class="list-label"><i class="iconfont icon-name_certification"></i> <span class="desc-name" set-lan="html:real_verify"></span></p>
                                        <div class="info-wrapper">
                                            <p class="list-desc"><span
                                                class="desc-name m-desc-name" set-lan="html:real_verify"></span> <span
                                                class="auth-info m-auth-info" set-lan="html:unverified"></span> <a
                                                class="m-info-button isActive"
                                                style="color: rgb(99, 139, 212);" set-lan="html:verify" onclick="show_real_verify();"></a></p></div>
                                    </div>
                                    <div class="user-info-list"><p class="list-label"><i
                                            class="iconfont icon-certification"></i> <span class="desc-name" set-lan="html:advanced_verify"></span>
                                    </p>

                                        <div class="info-wrapper spe-border"><p class="list-desc"><span
                                                class="desc-name m-desc-name" set-lan="html:advanced_verify"></span> <span
                                                class="auth-info m-auth-info"><span class="sp" set-lan="html:unverified"></span></span>
                                            <a class="m-info-button isActive"
                                               style="color: rgb(99, 139, 212);" set-lan="html:verify" onclick="show_advanced_verify();"></a></p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="user-item">
                                <div class="title payway">
                                    <h5 set-lan="html:payment_method"></h5>
                                    <h3 class="remark" set-lan="html:payment_remark"></h3>
                                </div>
                                <div class="info-container">

                                    <!--无收付款方式-->
                                    <div class="no-data">
                                        <p set-lan="html:no_pay"></p>
                                        <p class="add font-blue" set-lan="html:add_pay" onclick="show_add_pay();"></p>
                                    </div>

                                    <!--有收付款方式-->
                                    <div>
                                        <div class="user-info-list pay">
                                            <div class="info-wrapper">
                                                <div class="list-desc m-list-desc">
                                                    <span class="desc-name m-desc-name m-pay-name">支付宝</span>
                                                    <div class="bankInfo-right">
                                                        <span class="pay-text-desc">
                                                            <span class="bank-desc">17561502091 周雨婷 支付宝 </span>&nbsp;&nbsp;
                                                        </span>
                                                        <div class="operation">
                                                            <a set-lan="html:modify"></a>
                                                            <span tabindex="0" class="ivu-switch ivu-switch-checked ivu-switch-large">
                                                                <input type="hidden" value="true">
                                                                <span class="ivu-switch-inner"><span>ON</span></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="add-payway" set-lan="html:add_pay" onclick="show_add_pay();">添加收款方式</p>
                                    </div>

                                </div>
                            </div>
                            <div class="user-item">
                                <div class="title payway"><h5 set-lan="html:block_list"></h5>

                                    <h3 class="remark" set-lan="html:block_list_remark"></h3>
                                </div>
                                <div class="shield-container"><p class="no-more" set-lan="html:no_more"></p>

                                    <div class="pages" style="display: none;">
                                        <ul class="ivu-page">
                                            <li title="Previous Page" class="ivu-page-prev ivu-page-disabled"><a><i
                                                    class="ivu-icon ivu-icon-ios-arrow-back"></i></a></li>
                                            <li title="1" class="ivu-page-item ivu-page-item-active"><a>1</a></li>
                                            <li title="Next Page" class="ivu-page-next ivu-page-disabled"><a><i
                                                    class="ivu-icon ivu-icon-ios-arrow-forward"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="user-item">
                                <div class="title payway"><h5 set-lan="html:notice"></h5></div>
                                <div class="notice-container-info">
                                    <div class="notice-container-check">
                                        <p set-lan="html:email_notice"></p>
                                        <span tabindex="0" class="ivu-switch ivu-switch-large">
                                            <input type="hidden" value="false">
                                            <span class="ivu-switch-inner"><span set-lan="html:off"></span></span>
                                        </span>
                                    </div>
                                    <div class="notice-container-check">
                                        <p set-lan="html:SMS_notice"></p>
                                        <span tabindex="0" class="ivu-switch ivu-switch-checked ivu-switch-large">
                                            <input type="hidden" value="true">
                                            <span class="ivu-switch-inner"><span set-lan="html:on"></span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div data-v-699fe22d="" class="modal-container"><!----></div>
            </div>
        </div>
        {include file="/common/footer" /}
        {include file="/common/dialog" /}
    </div>
</div>
{include file="/common/ivu" /}


</body>
<script type="text/javascript" src="/Web/script/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/Web/script/commons.js"></script>
<script type="text/javascript" src="/Web/script/header.js"></script>
<script type="text/javascript" src="/Web/script/user_center.js"></script>
</html>