<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>工具类</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/Tool/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/Tool/styles/style.css"  media="all">
</head>
<body>
{include file="common/nav" /}
<div class="layui-content">
    <div class="layout-main-view">
        <div class="list-block ">
            <h2 class="list-title"><i class="icon-uniSetting color-my"></i> <a href="/json/">JSON在线工具</a>
                <small>JSON在线解析、JSON格式化、JSON对比、JSON压缩</small>
            </h2>
            <ul class="layui-row ">
                <li class="layui-col-md4 layui-anim layui-anim-fadein layui-unselect" data-tool-id="2">
                    <div class="card-container">
                        <div class="card-header">
                            <div class="card-iconfont"><i class="icon-uniJson1 color-my f45"></i></div>
                            <div class="card-title-block">
                                <h2 class="card-title">
                                    <a href="/tool/index/tojson?page=1" title="JSON在线解析/压缩/转义/转unicode">JSON在线解析/压缩/转义/转unicode/在线编辑</a>
                                </h2>
                                <a data-collect-id="2" href="javascript:void(0);"> <i class="iconfont icon-collect"></i>加入收藏 </a></div>
                        </div>
                        <p class="card-content" title="在线JSON解析，JSON格式化，JSON校验，JSON语法错误提示。JSON视图，可显示数据类型。支持JSON压缩，JSON转义，JSON unicode编码转换。在线JSON视图编辑，JSON层级编辑展示。">在线JSON解析，JSON格式化，JSON校验，JSON语法错误提示。JSON视图，可显示数据类型。支持JSON压缩，JSON转义，JSON unicode编码转换。在线JSON视图编辑，JSON层级编辑展示。</p></div>
                </li>
                <li class="layui-col-md4 layui-anim layui-anim-fadein layui-unselect" data-tool-id="8">
                    <div class="card-container">
                        <div class="card-header">
                            <div class="card-iconfont"><i class="icon-uniDuibi color-my f45"></i></div>
                            <div class="card-title-block">
                                <h2 class="card-title">
                                <a href="/tool/index/tojson?page=2" title="JSON对比，2个JSON对比">JSON对比，2个JSON对比</a>
                                </h2>
                                <a data-collect-id="8" href="javascript:void(0);"> <i class="iconfont icon-collect"></i>加入收藏 </a></div>
                        </div>
                        <p class="card-content" title="支持2个JSON在线对比，会先校验JSON是否合法，然后再把2个JSON的差异化提现出来。">支持2个JSON在线对比，会先校验JSON是否合法，然后再把2个JSON的差异化提现出来。</p></div>
                </li>
                <li class="layui-col-md4 layui-anim layui-anim-fadein layui-unselect" data-tool-id="7">
                    <div class="card-container">
                        <div class="card-header">
                            <div class="card-iconfont"><i class="icon-uniHuzhuan color-my f45"></i></div>
                            <div class="card-title-block">
                                <h2 class="card-title">
                                <a href="/tool/index/tojson?page=3" title="转XML/实体类/转 GO语言">转XML/实体类/转 GO语言</a>
                                </h2>
                                <a data-collect-id="7" href="javascript:void(0);"> <i class="iconfont icon-collect"></i>加入收藏 </a></div>
                        </div>
                        <p class="card-content" title="在线XML和JSON互转。在线JSON转C#实体类，JSON转Java实体类。JSON 在线转GO。">在线XML和JSON互转。在线JSON转C#实体类，JSON转Java实体类。JSON 在线转GO。</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>
{include file="common/footer" /}
<script src="/Tool/layui/layui.js" charset="utf-8"></script>

</body>
</html>